.history {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.timeline {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.timelineItem {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.timelineContent {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.timelineContent .timelineMonth {
	font-size: 1.2rem;
	font-weight: bold;
}
