.history {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.timeline {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.timelineItem {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
