.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-items: center;
	padding-top: var(--header-height);
}

.contentContainer {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 20px 10px;
	max-width: 500px;
}
