.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
	overflow: hidden;
}

.title {
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
