:root {
	--background: #ffffff;
	--foreground: #171717;

	--primary: #e5d9b6;
	--secondary: #a4be7b;
	--tertiary: #5f8d4e;
	--quaternary: #285430;

	--header-height: 50px;
	--header-z-index: 1000;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-geist-sans);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	white-space: pre-line;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}

button {
	background-color: transparent;
	color: var(--foreground);
}

h1 {
	font-size: 2rem;
	font-weight: bold;
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

h3 {
	font-size: 1.25rem;
	font-weight: bold;
}

h4 {
	font-size: 1rem;
	font-weight: bold;
}

p {
	font-size: 1rem;
	font-weight: normal;
}
