.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100svh;
	padding: var(--header-height) 20px 0px 20px;
	overflow: hidden;
}

.overviewWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}
