.container {
	position: fixed;
	top: 0px;
	z-index: var(--header-z-index);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	width: 100%;
	height: var(--header-height);
	background-color: #fff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.nav {
	display: flex;
	align-items: center;
	gap: 10px;
}

.nav a:hover,
.nav a.active {
	color: var(--tertiary);
	text-decoration: underline;
	font-weight: bold;
}
