.container {
	display: flex;
	flex-direction: column;
	gap: 50px;
	padding: 20px 10px;
	max-width: 500px;
}

.project {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.project ul {
	list-style: disc;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
